/*

=== 01 TYPOGRAPHY SYSTEM
    - Font size system (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font weights:
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

    - Line heights:
    large: 1.5
    medium: 1.25

    - Letter spacing:

      
=== 02 COLORS

    - Primary: #69db7c

    - Tints: #5FC171

    - Shades: #277d36

    - Accents:

    - Greys:
      primary: #343a40
      secondary: #212529
      light: #c3cad1


=== 05 SHADOWS

    - Small:

    - Medium:

    - Large:

=== 06 BORDER-RADIUS
  
    - Large: 20px

    - Small: 8px
=== 07 WHITESPACE

    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  --color-primary: #37b24d;
  --color-primary-tint: #5fc171;
  --color-primary-shade: #277d36;
  --grey-primary: #343a40;
  --grey-dark: #212529;
  --grey-light-1: #c3cad1;
  --grey-light-2: #ebebec;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;

  --border-radius-small: 8px;
  --border-radius-large: 20px;

  --line-height-large: 1.5;
  --line-height-medium: 1.25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem var(--color-primary);
}

body {
  color: var(--grey-primary);
  font-family: "poppins";
  line-height: 1.5;
}

.content {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 9.6rem;
  padding: 0 3.2rem;
}

.header-primary {
  font-size: 5.2rem;
  font-weight: var(--font-weight-bold);
}

.header-secondary {
  font-size: 4.4rem;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 2.4rem;
}

.text-light {
  color: var(--grey-light-1);
}

.btn,
.link:link,
.link:visited {
  background-color: var(--color-primary);
  color: var(--grey-primary);
  text-decoration: none;
  padding: 1.6rem 4.8rem;
  border-radius: var(--border-radius-small);
  font-size: 2rem;
  font-weight: var(--font-weight-semi-bold);
  transition: 200ms;
  display: inline-block;
}

.btn:hover,
.link:hover,
.link:active {
  color: var(--grey-dark);
  background-color: var(--color-primary-tint);
}

.try-now-link {
  display: inline-block;
  margin-top: 8rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.margin-bottom--lg {
  margin-bottom: 3.2rem;
}
