/*

=== 01 TYPOGRAPHY SYSTEM
    - Font size system (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font weights:
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

    - Line heights:

    - Letter spacing:

      
=== 02 COLORS

    - Primary: #69db7c

    - Tints: 

    - Shades: 

    - Accents:

    - Greys: #343a40

=== 05 SHADOWS

    - Small:

    - Medium:

    - Large:

=== 06 BORDER-RADIUS



=== 07 WHITESPACE

    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-size: 62.5%;
  --color-primary: #37b24d;
  --gray-primary: #343a40;
  --gray-dark: #212529;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--gray-primary);
  font-family: "poppins";
  line-height: 1;
}
