/* =====  ===== */

@media (max-width: 66em) {
  .mobile-menu-trigger,
  .mobile-menu-hide-icon {
    height: 4.4rem;
    width: 4.4rem;
  }

  .mobile-menu-trigger {
    display: block;
  }

  .mobile-menu-hide-icon {
    display: none;
  }

  .main-nav {
    overflow: hidden;
    position: relative;
  }

  .main-header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    row-gap: 3.2rem;
    font-weight: var(--font-weight-semi-bold);
    transition: all 200ms;
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-tint),
      var(--color-primary-shade)
    );
  }

  .mobile-nav-active {
    overflow: visible;
  }

  .mobile-nav-active .main-header-nav-list {
    transform: translateX(0);
    z-index: 2;
  }

  .mobile-nav-active > .mobile-menu-hide-icon {
    display: block;
    z-index: 3;
    position: absolute;
    right: 2rem;
  }

  .main-header-nav-item:link,
  .main-header-nav-item:visited {
    font-size: 2.4rem;
  }
}
