.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 3.2rem;
  background-color: var(--color-primary);
}

.main-header-nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
}

.main-header-nav-item {
  transition: 150ms;
}

.main-header-nav-item:link,
.main-header-nav-item:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--gray-primary);
}

.main-header-nav-item:hover,
.main-header-nav-item:active {
  color: var(--color-primary);
}

/* ===== INTRODUCTION ===== */

.section-introduction {
  height: calc(100vh - 8rem);
  background-image: url("../images/dog-intro.jpg");
  background-size: cover;
  background-position: 80% 25%;
  background-repeat: no-repeat;
}
