.main-header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/pets-intro.jpg");
  height: 100vh;
  background-size: cover;
  background-position: 80% 25%;
  background-repeat: no-repeat;
}

.main-nav {
  padding: 2.4rem 3.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
}

.main-header-nav-item {
  transition: 150ms;
}

.main-header-nav-item:link,
.main-header-nav-item:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--gray-light);
}

.main-header-nav-item:hover,
.main-header-nav-item:active {
  color: var(--color-primary);
}

.header-hero {
  margin-top: 6.4rem;
  text-align: center;
}

.header-hero-sub-header {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.header-hero-description {
  font-size: 1.8rem;
  line-height: var(--line-height-large);
}

/* ===== FEATURES ===== */

.features {
  column-gap: 3.2rem;
}

.feature-card-icon {
  width: 4.4rem;
  height: 4.4rem;
  margin-bottom: 1.6rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
}

.feature-card-title {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 0.8rem;
}

.feature-card-description {
  font-size: 1.6rem;
  line-height: var(--line-height-medium);
}

/* ===== HOW IT WORKS ===== */

.how-it-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.how-it-works-img {
  width: 70%;
  margin: 0 auto;
}

.how-it-works-step {
  font-size: 8rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.6rem;
}

.how-it-works-step-name {
  display: block;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.how-it-works-step-description {
  font-size: 1.8rem;
  line-height: 1.5;
}

.how-it-works-text-box {
  margin: auto 0;
}

/* ===== STATISTICS ===== */

.statistics {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 1.6rem;
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.statistics-number {
  color: var(--color-primary);
  font-size: 7.4rem;
}

.main-statistics-box {
  grid-column: 1 / 5;
  justify-self: center;
  text-align: center;
}

.statistics-description {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

/* ===== PRICING ===== */

.pricing {
  display: flex;
  column-gap: 2.4rem;
}

.pricing-card {
  border: 1px solid var(--color-primary-tint);
  padding: 4.8rem;
  border-radius: var(--border-radius-large);
}

.pricing-header {
  text-align: center;
}

.pricing-header > h2 {
  margin-bottom: 1.6rem;
}

.pricing-description {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  line-height: var(--line-height-medium);
}

.pricing-price {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 3rem;
  font-weight: var(--font-weight-semi-bold);
}

.pricing-feature-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  font-size: 1.8rem;
}

.pricing-feature-list > li {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  line-height: var(--line-height-large);
}

.pricing-option-icon {
  color: var(--color-primary);
  height: 2.4rem;
  flex-basis: 2.4rem;
  align-self: flex-start;
}

.btn--pricing {
  display: table;
  margin: 0 auto 4.8rem auto;
}

/* ===== TESTIMONIALS ===== */

.testimonials {
  display: flex;
  column-gap: 3.2rem;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}

.testimonial-avatar {
  margin: 0 auto;
  border-radius: 50%;
  width: 8rem;
  margin-bottom: 2.4rem;
}

.testimonial-rating {
  display: flex;
  column-gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.testimonial-star {
  width: 2rem;
  height: 2rem;
  color: var(--color-primary);
}

.testimonial-text-content {
  line-height: var(--line-height-large);
  font-size: 1.4rem;
  margin-bottom: 1.8rem;
}

.testimonial-author {
  font-size: 1.4rem;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 1.2rem;
}

.testimonial-date {
  font-size: 1.4rem;
}

/* ===== CALL TO ACTION ===== */

.cta {
  background-color: var(--color-primary-shade);
  color: var(--gray-light);
  text-align: center;
  display: flex;
  border-radius: var(--border-radius-large);
  gap: 6.4rem;
  overflow: hidden;
}

.cta-image {
  width: 30%;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 1;
}

.cta-header {
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
}

.cta-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.cta-content {
  /* flex-grow: 1; */
  padding: 3.2rem;
  width: calc(100% - 30% - 6.4rem);
}

.cta-label {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 0.8rem;
  align-self: flex-start;
}

.cta-form {
  gap: 3.2rem 1.6rem;
}

.cta-input > input,
.cta-input > select {
  width: 100%;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  border-radius: var(--border-radius-small);
  border: none;
}

.cta-input {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  align-items: center;
}

.cta-btn {
  margin-top: 2.4rem;
  grid-column: 1 / -1;
  border: none;
  border-radius: var(--border-radius-large);
}

/* ===== FAQ ===== */

.faq-visible-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0;
  border-top: 4px solid #000;
  gap: 1.6rem;
}

.faq-visible-content:hover {
  cursor: pointer;
}

.faq-element-number {
  font-size: 4.4rem;
  color: var(--gray-light);
  flex-basis: 6.4rem;
  margin-left: 1.6rem;
}

.faq-element-title {
  flex-grow: 1;
  font-size: 2.4rem;
}

.faq-icon {
  justify-self: flex-end;
  width: 2.4rem;
  height: 2.4rem;
  transition: 200ms ease-in;
  margin-right: 9.6rem;
}

.faq-hidden-content {
  margin: 0 9.6rem;
  font-size: 2rem;
  transition: 200ms linear;
  height: 0;
  overflow: hidden;
  line-height: var(--line-height-large);
}

.faq-content-expanded > .faq-hidden-content {
  display: block;
}

.faq-element.faq-content-expanded {
  border-top: 4px solid var(--color-primary);
}

.faq-content-expanded .faq-element-number,
.faq-content-expanded .faq-element-title {
  color: var(--color-primary);
}

.faq-content-expanded .faq-icon {
  transform: rotate(180deg);
}

/* ===== FAQ ===== */
.footer {
  margin-bottom: 9.6rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.footer-column {
  font-size: 1.6rem;
}

.footer-logo-text {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.footer-social-media-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.footer-rights {
  display: block;
  font-size: 1.2rem;
  flex-grow: 1;
}

.footer-column-name {
  font-size: 2rem;
  font-weight: var(--font-weight-semi-bold);
}

.footer-address {
  font-style: normal;
  line-height: var(--line-height-medium);
}

.footer-phone-number {
  display: block;
  margin-top: 1.2rem;
}

.footer-column > a,
.footer-column > span {
  text-decoration: none;
  color: var(--gray-primary);
}

.footer-column > span:hover {
  cursor: pointer;
}
