.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem 2.4rem;
}

.main-header-nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
}

.main-header-nav-item {
  transition: 150ms;
}

.main-header-nav-item:link,
.main-header-nav-item:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--gray-primary);
}

.main-header-nav-item:hover,
.main-header-nav-item:active {
  color: var(--color-primary);
}
